.responsive {
	width: 100%;
	height: auto;
}
#navicon {
	width: 40px;
}
.main {
	padding-top: 20%;
	width: 100%;
	height: 82%;
}
@media (min-width: 992px){
	.main {
	padding-top: 6%;
	}
}
html, body {
	height: 100%;
	background-color: rgba(100, 161, 157, 0.1);
}
.submitbutton {
	color: black;
	background-color: #64a19d;
	border-radius: 10px;
	padding: 15px;
}
.submitbutton:hover {
	background-color: white;
	color: black;
}
.offer{
	background-color: red;
	color: white;
	width: 180%;
	margin-left: -40%;
}
.car{
	width: 30%;
	height: 100%;
	float: left;
	margin-bottom: 5%;
	transition: all .2s ease-in-out;
	padding-bottom: -20px;
}
.car:hover{
	transform: scale(1.1);
}
.car-image{
	width: 100%;
}
.car:nth-child(3n+1){
	margin-right: 5%;
}
.car:nth-child(3n+3){
	margin-left: 5%;
}
.car-top{
	width: 100%;
	height: 90%;
}
.car-bottom{
	width: 100%;
	height: 10%;
}
.rent-button{
	padding: 1.5% 5% 1.5% 5%;
	border-radius: 20px;
	background-color: #64a19d;
	border-color: white;
	color: white;
	outline: none;
}
.rent-button:focus, .rent-button:active {
  outline: none;
}