{% extends 'profileBase.html' %}

{% block active_password_change %}active{% endblock active_password_change %}

{% block css %}
		<style type="text/css">
			.about{
				float: left;
				width: 25%;
			}
			.info{
				float: left;
				width: 75%;
			}
			.about, .info {
				margin-top: 2%;
			}
			p, input{
				height: 40px;
				margin-top: 0;
			}
		</style>
{% endblock css %}

{% block content %}
						<div class="kkk">
							<h1>Change your password</h1>
							<div class="about">
								<p>Old password:</p>
								<p>New password:</p>
								<p>Confirm new password:</p>
							</div>
							<div class="info">
								<form method="post" novalidate>
									{% csrf_token %}
									<p>{{ form.old_password }}</p>
									<p>{{ form.new_password1 }}</p>
									<p>{{ form.new_password2 }}</p>
									<button class="btn btn-lg btn-primary btn-block" type="submit" disabled="False" id="subbut">SUBMIT</button>
								</form>
							</div>
						</div>
{% endblock content %}

{% block js %}
	<script type="text/javascript">
		$('#id_old_password, #id_new_password1, #id_new_password2').keyup(function(){
			const passCheck = () => {
				const oldpass = document.getElementById('id_old_password').value;
				const pass1 = document.getElementById('id_new_password1').value;
				const pass2 = document.getElementById('id_new_password2').value;
				
				const newRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/gm;
				const oldRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/gm;

				const oldRegexCheck = oldRegex.test(oldpass);

				const regexCheck = newRegex.test(pass1);

				if(pass1 == pass2 && regexCheck && oldRegexCheck){
					return true;
				}
			}
			passCheck();
			if(passCheck()){
				$('#subbut').prop('disabled', false);
			}
		})
	</script>
{% endblock js %}